.box {
  position: relative;
  background-color: white;
  height: 100%;
}

.glowing::before {
  content: "";
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(
    45deg,
    transparent,
    #180cff,
    transparent,
    #ffff03,
    transparent,
    #180cff,
    transparent,
    #ffff03,
    transparent,
    #180cff
  );
  background-size: 400%;
  width: calc(100% + 5px);
  height: calc(100% + 5px);
  z-index: -1;
  animation: glower 20s linear infinite;
}

@keyframes glower {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 200% 0;
  }

  100% {
    background-position: 0 0;
  }
}
